body {
  display: grid;
  grid-template-rows: 80px auto auto;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-row: 1;
  grid-column: 6/-1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

nav {
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  grid-row: 2;
  grid-column: span 12;

  .content__header,
  .content__row-odd,
  .content__row-even {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: .16fr 1fr .85fr 1fr;
  }
}

footer {
  grid-row: 3;
  grid-column: span 12;
}
