header {
    background-color: aqua;
    height: 10vh;
}

nav {
    background-color: blueviolet;
    height: 50vh;
}

main {
    background-color: burlywood;
    height: 40vh;
}

footer {
    background-color: cornflowerblue;
}
