$sidebar-width: 20vh;
$sidebar-offset: .1vh;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: burlywood;
}

.btn {
    position: relative;
    overflow-x: hidden;

    left: 0;
    margin-top: 0;
}

#the-text {
    position: relative;
}

.menu {
    position: fixed;

    width: $sidebar-width;
    height: 100vh;
    left: -($sidebar-width + $sidebar-offset);
    top: 0;

    background-color: #133;
    color: #fff;
    text-align: center;
}

ul {
    position: relative;
    padding: 0;
    margin-top: 0;

    list-style-type: none;

    background-color: #900;

    li:nth-of-type(n):not(:last-of-type) {
        border-bottom: solid 1px #ddd;
    }
}

.menu-open {
    left: $sidebar-offset;
}

.offset-menu {
    left: $sidebar-width;
}
